/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  .container{
      position: relative;
      width: 100%;
      margin:  0 auto;
  }
#main_header{
    width: 100%;
    height: 100px;
    position: relative;
}
#main_header h1{
    position: absolute;
    left: 56px;
    top: 36px;
}
#gnb{
    position: absolute;
    right: 65px;
    top: 32px;
    text-decoration: none;
}
#gnb > ul {
    display: flex;
}
#gnb > ul > li{
    text-decoration: none;
    display: inline-block;
}
#gnb > ul   li > a{
    display: block;
    margin-left: 60px;
    padding: 10px;
}
#gnb > ul  li > a:hover{
    color: #48A7F3;
}
#gnb > ul ul{
    display: none;
    position: absolute;
}
#gnb > ul >li:hover >ul{
    display: block;
}
.photo{
    text-align: center;
}
.photo p{
    padding-bottom: 88px;
    line-height: 30px;
}
#main_Visual{
    display: flex;
    justify-content: center;
    margin: 40px;
}
#main_Visual img{
    width: 100%;
    height: 100%;
    margin: 20px;
}
.col{
    text-align: center;
}
.col h2{
    font-size: 50px;
    margin-bottom: 33px;
}
.col p{
    line-height: 30px;
}

#col1 h2 p{
    text-align-last: left;
    margin-left:100px;
}
#col1 img{
    float: right;
    padding: 100px;
}

#main {
    padding: 20px 0;
  }
  
  #main article {
    display: flex;
    margin-bottom: 30px;
  }
  
  /* 짝수 어티클은 반대로 표시 */
  #main article:nth-child(2n) {
    flex-direction: row-reverse;
  }
  
  #main article figure {
      margin: 150px;
    width: 50%;
  }
  
  #main article figure img {
    width: 100%;
    display: block;
  }
  
  #main article .text {
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;         
  }
  
  #main article .text h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
#Exhibition{
    width: 1920px;
    height: 2876px;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
}
  